<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="PageSize" value="512" />
		<add key="MinRecordLength" value="5" />
		<add key="MaxRecordLength" value="30" />
		<add key="RecordMaxCharValue" value="120" />
		<add key="RecordMinCharValue" value="40" />
	</appSettings>
</configuration>